@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #2e2e2e;

    --primary: #f97316;
    --primary-foreground: #ffffff;
}

@layer base {
    body {
        @apply bg-background text-foreground font-inter text-xs;
    }

    a,
    button,
    select {
        @apply transition-all cursor-pointer;
    }
}

@layer components {
    .subcategory-list {
        @apply opacity-0 invisible;
    }
    .category-item:hover > .subcategory-list {
        @apply opacity-100 visible;
    }
}
